<div class="container mt-5">
    <div *ngIf="character" class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-light">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img [src]="character.image" class="img-fluid rounded-start" alt="Character Image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title mb-3">{{ character.name }}</h4>
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <p><strong>Status:</strong></p>
                                    <p class="card-text">{{ character.status }}</p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Species:</strong></p>
                                    <p class="card-text">{{ character.species }}</p>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <p><strong>Gender:</strong></p>
                                    <p class="card-text">{{ character.gender }}</p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Origin:</strong></p>
                                    <p class="card-text">{{ character.origin.name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p><strong>Location:</strong></p>
                                    <p class="card-text">{{ character.location.name }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>